.my-operation {
	display: inline-block;
	vertical-align: 10%;
}

input.rcms-cut {
	overflow: hidden;
	text-overflow: ellipsis;
	word-spacing: nowrap;
}

#star{
	color:red;
	display:inline-block;
  	vertical-align:middle;  
}

/* input.rcms-cut:HOVER { */
/* 	overflow: visible; */
/* } */
